@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "微软雅黑";
  color: #333;
  font-size: 14px;
}
header {
  width: 100%;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
.header {
  width: 1100px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
}
.header_left {
  width: 347px;
  height: 40px;
  float: left;
  display: inline;
  cursor: pointer;
}
.header_right {
  float: right;
  display: inline;
  height: 40px;
}
.header_right ul {
  *zoom: 1;
}
.header_right ul:before,
.header_right ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.header_right ul:after {
  clear: both;
}
.header_right li {
  float: left;
  display: inline;
}
.header_right a {
  color: #333;
}
.header_right a:hover {
  color: #CC6600;
  text-decoration: underline;
}
.header_right span {
  font-size: 13px;
  display: inline-block;
  margin: 0 7px;
}
.f-header {
  width: 1100px;
  height: 80px;
  margin: 10px auto;
}
.f-header .logo {
  float: left;
  display: inline;
  margin-right: 46px;
}
.f-header .search {
  width: 480px;
  height: 48px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  display: inline;
  border: 3px solid #eee;
  margin: 13px 0;
}
.f-header .search_box {
  width: 478px;
  height: 46px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.f-header .search_box .search_input {
  font-size: 16px;
  height: 18px;
  width: 398px;
  margin: 14px 0;
  padding: 0 10px;
  line-height: 18px;
  border-right: 1px solid #ccc;
}
.f-header .search_btn {
  width: 19px;
  height: 18px;
  float: right;
  display: inline;
  background: url(../images/search_btn.png) left top no-repeat;
  margin: 13px 20px 0 0;
  cursor: pointer;
}
.landRegister {
  width: 250px;
  height: 40px;
  float: right;
  display: inline;
  margin: 20px 0;
}
.landRegister div {
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  float: left;
  display: inline;
  text-align: center;
}
.landRegister a {
  color: #fff;
}
.landRegister .land {
  background: #0e59ba;
  cursor: pointer;
}
.landRegister .register {
  cursor: pointer;
  background: #2ead66;
  margin-right: 0;
}
.nav {
  width: 100%;
  height: 70px;
  background: url(../images/line.png) no-repeat left top;
  min-width: 1100px;
}
.nav_box {
  width: 1100px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
.nav_box_c {
  background: #2170cf !important;
}
.nav_box_1 {
  width: 71px;
  height: 70px;
  color: #fff;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  float: left;
  display: inline;
  background: url(../images/line_1.png) right center no-repeat;
}
.nav_box_1 a {
  width: 100%;
  display: inline-block;
  color: #fff;
}
.nav_box_2 {
  float: left;
  display: inline;
  height: 40px;
  padding: 15px 15px 15px 14px;
  background: url(../images/line_1.png) right center no-repeat;
}
.nav_box_2 .text {
  float: left;
  display: inline;
  margin-right: 6px;
  margin-left: 2px;
  width: 30px;
  color: #fff;
  font-weight: bold;
}
.nav_box_2 .text span {
  line-height: 20px;
}
.nav_box_2 .text a {
  display: inline-block;
  width: 100%;
  color: #fff;
}
.nav_box_2 .text1 {
  width: 112px;
  float: left;
  display: inline;
  font-size: 12px;
}
.nav_box_2 .text1 a {
  color: #c0d7f5;
}
.nav_box_2 .text1 a:hover {
  color: #cc6600;
}
.nav_box_2 .text1 ul {
  *zoom: 1;
}
.nav_box_2 .text1 ul:before,
.nav_box_2 .text1 ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav_box_2 .text1 ul:after {
  clear: both;
}
.nav_box_2 .text1 li {
  float: left;
  display: inline;
  margin-left: 8px;
  line-height: 20px;
}
.nav_box_2 .text2 {
  float: left;
  display: inline;
  margin-right: 6px;
  margin-left: 0;
  width: 30px;
  color: #fff;
  font-weight: bold;
}
.nav_box_2 .text2 span {
  line-height: 20px;
}
.nav_box_2 .text2 a {
  color: #fff;
}
.nav_box_2 .text3 {
  width: 168px;
  float: left;
  display: inline;
  font-size: 12px;
}
.nav_box_2 .text3 a {
  color: #c0d7f5;
}
.nav_box_2 .text3 a:hover {
  color: #cc6600;
}
.nav_box_2 .text3 ul {
  *zoom: 1;
}
.nav_box_2 .text3 ul:before,
.nav_box_2 .text3 ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav_box_2 .text3 ul:after {
  clear: both;
}
.nav_box_2 .text3 li {
  float: left;
  display: inline;
  margin-left: 8px;
  line-height: 20px;
}
.nav_box_2 .text4 {
  width: 78px;
  float: left;
  display: inline;
  font-size: 12px;
}
.nav_box_2 .text4 a {
  color: #c0d7f5;
}
.nav_box_2 .text4 a:hover {
  color: #cc6600;
}
.nav_box_2 .text4 ul {
  *zoom: 1;
}
.nav_box_2 .text4 ul:before,
.nav_box_2 .text4 ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav_box_2 .text4 ul:after {
  clear: both;
}
.nav_box_2 .text4 li {
  float: left;
  display: inline;
  margin-left: 8px;
  line-height: 20px;
}
.nav_box .beidou {
  position: absolute;
  right: 0;
  top: -2px;
}
.section8 {
  width: 1100px;
  margin: 30px auto;
  height: 24px;
}
.section8 select {
  width: 200px;
  height: 24px;
  float: left;
  display: inline;
  line-height: 24px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.section8_2 {
  margin-left: 100px;
}
.section8_3 {
  margin-left: 100px;
}
.section8_4 {
  margin-left: 100px;
}
footer {
  width: 100%;
  height: 90px;
  border-top: 1px solid #ccc;
  background-color: #ebebeb;
  padding-top: 12px;
  box-sizing: border-box;
}
.footer {
  width: 1100px;
  margin: 0 auto;
}
.footer_t {
  text-align: center;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #999999;
}
.footer_t ul {
  display: inline-block;
}
.footer_t a {
  color: #999999;
}
.footer_t li {
  float: left;
  display: inline;
}
.footer_t li span {
  width: 1px;
  margin: 0 17px;
}
.footer_t2 {
  text-align: center;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #999999;
}
.section {
  width: 1100px;
  margin: 20px auto;
  *zoom: 1;
}
.section:before,
.section:after {
  display: table;
  content: "";
  line-height: 0;
}
.section:after {
  clear: both;
}
.mem1 {
  width: 1100px;
  height: 232px;
  float: left;
  display: inline;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.mem1_s {
  width: 1098px;
  height: 39px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background: #f6f7f7;
  position: relative;
}
.mem1_simg {
  width: 6px;
  height: 39px;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 100;
}
.mem1_simg img {
  width: 100%;
}
.mem1_stext {
  float: left;
  display: inline;
  line-height: 39px;
  color: #0e59ba;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}
.mem1_sa {
  width: 52px;
  height: 12px;
  display: inline-block;
  float: right;
  display: inline;
  background: url(../images/MORE1.png) left top no-repeat;
  margin: 14px 20px 14px 0;
  cursor: pointer;
}
.mem1_sa:hover {
  background: url(../images/MORE.png) left top no-repeat;
}
.mem1_x {
  padding: 12px 0 11px 0;
}
.mem1_x ul {
  *zoom: 1;
}
.mem1_x ul:before,
.mem1_x ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.mem1_x ul:after {
  clear: both;
}
.mem1_x li {
  float: left;
  display: inline;
  margin-left: 19.333px;
  width: 330px;
  height: 28px;
  line-height: 28px;
  padding-left: 11px;
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url(../images/hedian.png) no-repeat left center;
}
.mem1_x li a {
  color: #333;
}
.mem1_x li a:hover {
  text-decoration: underline;
  color: #cc6600;
}
.mem2 {
  height: 240px;
}
.mem2_x {
  width: 100%;
  padding: 20px 19px 5px 19px;
}
.mem2_x ul {
  *zoom: 1;
}
.mem2_x ul:before,
.mem2_x ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.mem2_x ul:after {
  clear: both;
}
.mem2_x li {
  width: 160px;
  height: 174px;
  float: left;
  display: inline;
  margin-left: 20px;
}
.mem2_x li > a {
  *zoom: 1;
  display: inline-block;
  width: 160px;
  height: 130px;
}
.mem2_x li > a:before,
.mem2_x li > a:after {
  display: table;
  content: "";
  line-height: 0;
}
.mem2_x li > a:after {
  clear: both;
}
.mem2_x li > a img {
  float: left;
  display: inline;
}
.mem2_x li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 44px;
}
.mem2_x li p a {
  color: #333;
}
.mem2_x li p a:hover {
  text-decoration: underline;
  color: #cc6600;
}
.mem2_x li:nth-of-type(1) {
  margin-left: 0;
}
.mem3 {
  width: 100%;
  height: 120px;
}
.mem3 img {
  float: left;
  display: inline;
}
.mem4_left {
  width: 540px;
  height: 232px;
  float: left;
  display: inline;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.mem4_s {
  width: 538px;
  height: 39px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background: #f6f7f7;
  position: relative;
}
.mem4_simg {
  width: 6px;
  height: 40px;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 100;
}
.mem4_simg img {
  width: 100%;
}
.mem4_stext {
  float: left;
  display: inline;
  line-height: 39px;
  color: #0e59ba;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}
.mem4_sa {
  width: 52px;
  height: 12px;
  display: inline-block;
  float: right;
  display: inline;
  background: url(../images/MORE1.png) left top no-repeat;
  margin: 14px 20px 14px 0;
  cursor: pointer;
}
.mem4_sa:hover {
  background: url(../images/MORE.png) left top no-repeat;
}
.mem4_x {
  float: left;
  display: inline;
  width: 520px;
  padding: 13px 0 13px 20px;
}
.mem4_x .mem4_x_l {
  width: 180px;
  height: 166px;
  margin-right: 20px;
  float: left;
  display: inline;
}
.mem4_x .mem4_x_l img {
  float: left;
  display: inline;
  margin-top: 7px;
}
.mem4_x_r {
  width: 320px;
  padding-right: 11px;
  box-sizing: border-box;
  float: left;
  display: inline;
}
.mem4_x_r ul {
  *zoom: 1;
}
.mem4_x_r ul:before,
.mem4_x_r ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.mem4_x_r ul:after {
  clear: both;
}
.mem4_x_r li {
  padding-left: 10px;
  height: 28px;
  background: url(../images/sanjiao.png) left center no-repeat;
  line-height: 28px;
  width: 290px;
}
.mem4_x_r li a {
  color: #333;
  display: inline-block;
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mem4_x_r li a:hover {
  text-decoration: underline;
  color: #cc6600;
}
.mem4_x_r li span {
  display: inline-block;
  float: right;
  display: inline;
  color: #999999;
  font-size: 14px;
}
.mem4_right {
  margin-left: 20px;
}
